{% extends 'layout.html' %}

{% block content %}

    {% block title %}
    <title>EShopper - Product list</title>
    {% endblock %}
   
    
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <form>
                        {% for p in all%}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="{{url_for('filter_all', name = p.name)}}"><label>All price</label></a>
                            <span class="badge border font-weight-normal">{{p.in_stock}}</span>
                        </div>
                        {% endfor %}
                    </form>
                    <form>
                        {% for p in price %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="{{url_for('filter_price', name = p.price_name)}}"><label>{{p.price_name}}</label></a>
                            <span class="badge border font-weight-normal">{{p.in_stock}}</span>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                    <form >
                        {% for c in all %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="{{url_for('filter_all', name = c.name)}}"><label>All color</label></a>
                            <span class="badge border font-weight-normal">{{c.in_stock}}</span>
                        </div>
                        {% endfor %}
                    </form>
                    <form >
                        {% for c in color %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="{{url_for('filter_color', name = c.color_name)}}"><label>{{c.color_name}}</label></a>
                            <span class="badge border font-weight-normal">{{c.in_stock}}</span>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                    <form>
                        {% for s in all %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="{{url_for('filter_all', name = s.name)}}"><label>All size</label></a>
                            <span class="badge border font-weight-normal">{{s.in_stock}}</span>
                        </div>
                        {% endfor %}
                    </form>
                    <form>
                        {% for s in size %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="{{url_for('filter_size', name = s.size_name)}}"><label>{{s.size_name}}</label></a>
                            <span class="badge border font-weight-normal">{{s.in_stock}}</span>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    {% if count < 1 %}
                    <div class="col-lg-12 py-5 px-5 d-flex align-items-center justify-content-center" style="height: 500px;">
                        <h4 class="text-center text-danger fw-600">Sorry, we do not have any product in our stock!!!</h4>
                    </div>
                    {% endif %}
                    {% for p in product %}
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src="{{url_for('static', filename = 'img/')}}{{p.image_url}}" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{p.name}}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>${{p.new_price}}</h6><h6 class="text-muted ml-2"><del>${{p.price}}</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/detail/{{p.id}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            </div>
                        </div>
                    </div>
                    
                    
                    {% endfor %}

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock %}